<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="pipeline" type="HelloHome.NetGateway.Pipeline.Configuration.PipelineConfigurationSection, NetGateway" />
	</configSections>
	<appSettings>
		<add key="Serial:port" value="/dev/tty.usbmodem441" />
		<add key="EmonCms:ApiKey" value="095c9600b100c726b41bde08c68ff456" />
		<add key="log4net.Internal.Debug" value="true" />
	</appSettings>
	<connectionStrings>
		<add name="HelloHomeDbContext" connectionString="server=localhost;database=HelloHome_Dev;User Id=root;Password=@Preo89;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<pipeline>
		<add name="LoadContextModule" type="HelloHome.NetGateway.Pipeline.LoadContextModule, NetGateway" />
	</pipeline>
	<log4net>
		<appender name="ManagedColoredConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
			<mapping>
				<level value="ERROR" />
				<foreColor value="DarkRed" />
			</mapping>
			<mapping>
				<level value="WARN" />
				<foreColor value="Yellow" />
			</mapping>
			<mapping>
				<level value="INFO" />
				<foreColor value="White" />
			</mapping>
			<mapping>
				<level value="DEBUG" />
				<foreColor value="Blue" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %-20.20logger: %message%newline" />
			</layout>
		</appender>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="HelloHomeGateway.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10240KB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<appender name="RemotingAppender" type="log4net.Appender.RemotingAppender">
			<sink value="tcp://192.168.1.247:517/LoggingSink" />
			<lossy value="false" />
			<bufferSize value="1" />
			<onlyFixPartialEventData value="true" />
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="ManagedColoredConsoleAppender" />
			<appender-ref ref="RollingFileAppender" />
		</root>
	</log4net>
	
	
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data><entityFramework>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework></configuration>