<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="loggly" type="Loggly.Config.LogglyAppConfig, Loggly.Config"/>
    <section name="pipeline" type="HelloHome.NetGateway.Pipeline.Configuration.PipelineConfigurationSection, NetGateway" />
  </configSections>

  <appSettings>
    <add key="Serial:port" value="/dev/cu.SLAB_USBtoUART" />
    <add key="EmonCms:ApiKey" value="095c9600b100c726b41bde08c68ff456" />
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>

  <connectionStrings>
    <add name="HelloHomeDbContext" connectionString="server=localhost;database=HelloHome_Dev;User Id=root;Password=@Preo89;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <loggly xmlns="Loggly" applicationName="HelloHomeGateway" customerToken="89509195-b86c-4847-ba7d-b4f0a3e620ea" isEnabled="true" throwExceptions="true">

    <transport logTransport="Https" endpointHostname="logs-01.loggly.com" endpointPort="443"/>
    <search account="INDRI" username="vdesmedt" password="@Preo890"/>

    <tags>
      <complex>
        <tag type="Loggly.HostnameTag" formatter="host-{0}"/>
        <tag type="Loggly.ApplicationNameTag" formatter="application-{0}"/>
        <tag type="Loggly.OperatingSystemVersionTag" formatter="os-{0}"/>
        <tag type="Loggly.OperatingSystemPlatformTag" formatter="platform-{0}"/>
      </complex>
    </tags>
  </loggly>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>